body {
	margin:	 			0px;
	font-family:		Arial, sans-serif;
	font-size: 			small;
}

#header{
	width: 				100%;
	height: 			50px;
	background-color: 	aqua;
}

#header h1{
	margin: 			0px;
	text-align: 		center;
}

#log_out{
	float:				right;
	font-size: 			120%;
	margin-right: 		20px;
}

#links a{
	font-size: 			150%;
	margin: 			20px 5px 20px 5px;
}

#links table tr td{
	border: 			none;
}

#head_of_table{
	width: 				100%;
}

#head_of_table input{
	float: 				right;
	margin-right: 		20px;
}

#books_table table{
	font-size: 			120%;
	width: 				100%;
	border: 			1px solid black;
}

#books_table th,td{
	border: 			1px solid black;
}

#searching_book tr td{
	border: 			none;
}

.tables tr td{
	border: 			none;
}

#authors_table table{
	font-size: 			120%;
	width: 				100%;
	border: 			1px solid black;
}

#authors_table th,td{
	border: 			1px solid black;
}

#user_registration_form table tr td{
	border: 			none;
}